*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    padding-left: 90px;
}
.navbar nav {
    display: flex;
    justify-content: space-between;
}
.navbar nav .nav-link ul {
    display: flex;
}