*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    padding-left: 90px;
    padding-right: 90px;
}
.navbar nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.navbar nav .nav-link ul {
    display: flex;
    list-style-type: none;
    gap: 2.5rem;
    font-size: 18px;
}