*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    padding-left: 90px;
    padding-right: 90px;
}
.navbar nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.navbar nav .nav-link ul {
    display: flex;
    list-style-type: none;
    gap: 2.5rem;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
}
.hero {
    display: flex;
    width: 100%;
    margin-top: 60px;
    align-items: center;
}
.hero .left {
    width: 50%;
    background-color: yellow;
}
.hero .left p.head {
    font-size: 45px;
}
.hero .right {
    width: 50%;
    background-color: blue;
}
.hero .right img {
    height: 450px;
}